<ion-header>
<ion-toolbar color="primary">
<ion-buttons slot="start">
<ion-back-button></ion-back-button>
</ion-buttons>
<ion-title>Recuperar contraseña</ion-title>
</ion-toolbar>
</ion-header>



<!-- inicio del content o body de la app-->
<ion-content>

<ion-grid>
<ion-row>
<ion-col>
<ion-list>
<!-- inicio del formulario de recuperar contrasena-->
<form [formGroup]="recuperarC" >
<ion-item>
<ion-icon name="mail-outline" slot="start"></ion-icon>
<ion-input formControlName="email" placeholder="Email" type="email"></ion-input>   
</ion-item>
<ion-label color="primary" *ngIf="recuperarC.controls.email.errors?.required && (recuperarC.touched || recuperarC.dirty)">*Ingrese su email</ion-label> 
</form>
 <!-- final del formulario de recuperar contrasena-->
<br>
<ion-label>Le enviaremos su contraseña a su dirección de correo electrónico dada</ion-label>
</ion-list>
</ion-col>
</ion-row>
<ion-row>
<ion-col>
<!-- Boton de recuperar contrasena-->
<ion-button type="submit" [disabled]="!recuperarC.valid" expand="block" shape="round" >Recuperar</ion-button>
<!--Fin del boton-->
</ion-col>
</ion-row>
</ion-grid>

</ion-content>

<!-- Final del content o body de la app-->