


/*ion-label {
    margin-top: 100px;
    margin-bottom: 80px;
    margin-right: 150px;
    margin-left: 80px;}
*/
    img{//height: 150px;
        //width: 155px;
        display: block;
        margin: auto;}

       h1{text-align: center;}


       ion-button {
        height: 48px;
       font-size: 18px;
       text-transform: initial;
       border-radius: 50px;
       box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
       --box-shadow: none;

     }
     
     ion-button {
       text-transform: initial;
       font-size: 17px;
       
     }
     
     