 
 ion-title {text-align: center;}

 h1{text-align: center;}

 ion-icon {
    margin-right: 15px;
}

ion-button {
    margin-top: 3px;
    margin-bottom: 10px;
}

img{height: 150px;
width: 200px;
display: block;
margin: auto;}