<ion-header>
    <ion-toolbar>
      <ion-title>CONSUMIDOR RD</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
   
    <ion-grid>
    <ion-row>
    <ion-col>
    <img src="assets/images/consumidor-rd4.png">
    <h1>Iniciar Sesión</h1>
    </ion-col>
    </ion-row>
  
         <ion-row>
         <ion-col>
        <ion-list>
                <form [formGroup]="login">
                <ion-item>
                <ion-icon name="mail-outline" slot="start"></ion-icon>
                <ion-input formControlName="email" placeholder="Email" type="email"></ion-input>
                </ion-item>
                <ion-label color="primary" *ngIf="login.controls.email.errors?.email && (login.touched || login.dirty)">*Ingrese su email</ion-label> 
                <ion-item>
                <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
                <ion-input formControlName="contrasena"placeholder="Contraseña" type="password"></ion-input>
                </ion-item>
                <ion-label color="primary" *ngIf="login.controls.contrasena.errors?.required && (login.touched || login.dirty)">*Ingrese su contraseña</ion-label>
                <ion-label color="danger" *ngIf="login.controls.contrasena.errors?.minlength && (login.touched || login.dirty)">*Su contraseña es de al menos 6 caracteres.</ion-label>                      
                </form>
        </ion-list>

        </ion-col>
        </ion-row>
        <ion-row>
        <ion-col>
        <ion-button type="submit" fill="solid" expand="block"routerLink="/perfil-usuario">Entrar</ion-button>
        <ion-button type="submit" fill="solid" expand="block" routerLink="/registrar-usuario">Crear Cuenta</ion-button>
        <ion-button type="submit" fill="solid" expand="block" color="danger">Google </ion-button>
        </ion-col>
        </ion-row>
        <ion-row>
        <ion-col>
        <a routerLink=""><h4>Recuperar contraseña</h4></a> 
        </ion-col>
        </ion-row>
        </ion-grid>
   
  
  </ion-content>
  