

h1{text-align: center;}

ion-item{margin-top: 3px;
    margin-bottom: 10px;}

    ion-toolbar {
        --background: blue;
      }

      ion-title{color: white;}


      ion-back-button {color: white;}

      .passwordIcon{
        font-size:1.7rem !important;
        position: relative !important;
        top: 3px !important;
        margin: 0 auto !important;
     }

     .passwordIcon1{
      font-size:1.7rem !important;
      position: relative !important;
      top: 3px !important;
      margin: 0 auto !important;
   }

   ion-button {
    height: 48px;
   font-size: 18px;
   text-transform: initial;
   border-radius: 50px;
   text-transform: initial;
   font-size: 17px;
 }
 
