

h1{text-align: center;}

ion-item{margin-top: 3px;
    margin-bottom: 10px;}

    ion-toolbar {
        --background: blue;
      }

      ion-title{color: white;}

      ion-button{--background:blue;}

      ion-back-button {color: white;}