<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-row>
  <ion-col>
  <h1>Bienvenid@</h1>
  </ion-col>
  </ion-row>
    <ion-row>
      <ion-col>
          <ion-list>
            <form >
              <ion-item>
              <ion-icon name="person-outline" slot="start"></ion-icon>
              <ion-input name="firstname" type="text" required placeholder="Nombre"></ion-input>
              </ion-item>
              <ion-item>
              <ion-icon name="person" slot="start"></ion-icon>
              <ion-input name="lastname" type="text" required placeholder="Apellidos"></ion-input>
              </ion-item>
              <ion-item>
              <ion-icon name="mail-outline" slot="start" ></ion-icon>
              <ion-input name="email" type="email" required placeholder="Email"></ion-input>
              </ion-item>
              <ion-item>
              <ion-icon name="key-outline" slot="start" ></ion-icon>
              <ion-input name="password" type="password" required placeholder="Contraseña" minlength="8" ></ion-input>
              </ion-item>
              <ion-item>
              <ion-icon name="lock-closed-outline" slot="start" ></ion-icon>
              <ion-input name="password1" type="password" required placeholder="Confirmar Contraseña" minlength="8" ></ion-input>
          </ion-item>
            </form>
          </ion-list>
      </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
        <ion-button type="submit" fill="solid" expand="block">
          Registarme
        </ion-button>
    </ion-col>
</ion-row>


</ion-content>
