* {
  font-family: arial;
}

.menu-header-bg {
  height: 160px;
  width: 350px;
  background: -moz-linear-gradient(90deg, #7590d6 0%, #4d71d7 100%);
  box-shadow: 0px 1px 10px rgba(67, 114, 245, 0.274);
  transform: rotate(15deg);
  border-radius: 10px 10px 10px 50px;
  margin-left: -18px;
  margin-top: -50px;
  margin-bottom: 60px;
}

.header-content{
  position: absolute;
  top: 4px;
  left: 35px;
  display: flex;
  align-items: center;
  
  img {
    width: 50px;
  } }

ion-item {font-family: Arial; 
 font-size: 130%;
 margin-top: 5px;
 margin-bottom: 10px;}
