<ion-header>
<ion-toolbar>
<ion-buttons slot="start">
<ion-back-button defaultHref="home"></ion-back-button>
</ion-buttons>
<ion-title>Acerca de</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
<ion-row>
<ion-col>
<h1>CONSUMIDR RD</h1>
<img src="assets/images/consumidor-rd4.png">
<h4>Es app orientada y diseñada para que usted pueda expresarse a traves de opionión y reseña de valoración con estrellas
de una forma rapida, segura y simple acerca de su experiencia de sastifación o insastifación que haya tenido, también le permite ver  
otras opniones y valoraciones referente a un lugar. Esto permite que el establecimiento o empresa mejore
la calidad de producto o servicio.  
</h4>
<h3>Versión de la app</h3>
<h5>Beta...</h5>
</ion-col>
</ion-row>
</ion-content>
