
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Verificar Cuenta</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="ajuste"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
  <ion-grid>
    <ion-row>
    <ion-col>
  <ion-list>
    <ion-item>
    <ion-icon name="person-outline" slot="start"></ion-icon>
    <ion-input name="name" type="text" required placeholder="Nombre de usuario"></ion-input>
    </ion-item>
    <ion-item>
    <ion-icon name="mail-outline" slot="start" ></ion-icon>
    <ion-input name="email" type="email" required placeholder="Email"></ion-input>
    </ion-item>
    <ion-item>
    <ion-icon name="call-outline" slot="start" ></ion-icon>
    <ion-input name="phone" type="text" required placeholder="Telefono" minlength="8" ></ion-input>
  </ion-item>
</ion-list>
</ion-col>
</ion-row>
<br>
  <ion-row>
    <ion-col>
      <ion-button type="submit" fill="solid" expand="block" routerLink="/recuperar-contrasena">  
        Verificar
        </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</form>
</ion-content>
