<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Verificación de cuenta</ion-title>
    <ion-buttons>
      <ion-back-button> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
  <ion-list>
    <ion-item>
      <center><h3>Introduzca los datos para la verificación </h3></center>
    </ion-item>
    <br>
    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-input name="name" type="text" required placeholder="Nombre de usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="mail-outline" slot="start" ></ion-icon>
      <ion-input name="email" type="email" required placeholder="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="call-outline" slot="start" ></ion-icon>
      <ion-input name="phone" type="text" required placeholder="Telefono" minlength="8" ></ion-input>
  </ion-item>
</ion-list>
</ion-col>
</ion-row>
<br>
<br>
<br>
  <ion-row>
    <ion-col>
      <ion-button type="submit" fill="solid" expand="block" routerLink="/recuperar-clave">  
        Verificar
        </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
