

ion-toolbar{--background: blue;} ion-title{color: white;} ion-back-button{--color: white;}

ion-card-title {text-align: center;}

ion-card-subtitle{text-align: center;}

ion-button {
    height: 48px;
   font-size: 18px;
   text-transform: initial;
   border-radius: 50px;
   text-transform: initial;
   font-size: 17px;
 }