ion-button {
    margin-top: 15px;
    height: 48px;
    font-size: 18px;
    border-radius: 50px; 
    text-transform: initial;
    font-size: 17px;
  }
  
  ion-toolbar{--background: blue;} ion-title{color: white;}

  ion-back-button{color: white;}

  H3{text-align: center;}

  p{text-align: center;}