<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-back-button defaultHref="home"></ion-back-button>
  </ion-buttons>
  <ion-title>Valorar / Opinar</ion-title>
  </ion-toolbar>
  </ion-header>
 <!-- inicio del content o body de la app-->

<ion-content>

  <ion-list-header>
    <h4> Exprese su experencia a: </h4>
  </ion-list-header>

  

<h4>Valore su experencia con estas estrellas</h4>
<br>
<ion-label>
  <h2></h2>
</ion-label>
<ion-button color="clear" *ngFor = "let item of estrellas">
<ion-icon color="warning" name="star-outline"></ion-icon>
</ion-button>


<ion-grid>
<ion-row>
<ion-col>
<ion-list>


<!-- inicio del formulario de la app-->
  <form [formGroup]="opiniones">
  <ion-item>
  <ion-icon name="albums-outline" slot="start"></ion-icon>
  <ion-input formControlName="titulo" placeholder="Asunto" type="text"></ion-input>
  </ion-item>
  <ion-label color="danger" *ngIf="opiniones.controls.titulo.errors?.required && (opiniones.touched || opiniones.dirty)">*Por favor ingrese el asunto</ion-label>
  <ion-label color="danger" *ngIf="opiniones.controls.titulo.errors?.minlength && (opiniones.touched || opiniones.dirty)">*El título tiene que tener al menos 3 caracteres.</ion-label>
  <br>
  <br>
  <br>
  <br>
  <ion-item>
  <ion-icon name="chatbubble-ellipses-outline" slot="start"></ion-icon>
  <ion-textarea formControlName="opinion" placeholder="Escriba su opinión"></ion-textarea>
  </ion-item>
  <ion-label color="danger" *ngIf="opiniones.controls.opinion.errors?.required && (opiniones.touched || opiniones.dirty)">*Por favor ingrese la opinión</ion-label>
  <ion-label color="danger" *ngIf="opiniones.controls.opinion.errors?.minlength && (opiniones.touched || opiniones.dirty)">*La opinión tiene que tener al menos 3 caracteres.</ion-label>
  </form>
<!-- fianl del formulario de la app-->
</ion-list>
</ion-col>
</ion-row>
</ion-grid>
 <ion-row>
<ion-col>
<!-- Boton de la app-->
<ion-button type="submit" [disabled]="!opiniones.valid" expand="block" shape="round" >Enviar</ion-button>
</ion-col>
</ion-row>

</ion-content>
 <!-- Final del content o body de la app-->
