<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Evaluar experiencia</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<br>

<ion-content>
<center>
<h4>Valore su experencia con estas estrellas</h4>
<br>
<ion-button color="clear" *ngFor = "let item of estrellas">
<ion-icon color="warning" name="star-outline"></ion-icon>
</ion-button>
</center>
 
<ion-grid>
<ion-row>
<ion-col>

  <ion-list>
  <h4> Exprese su experencia</h4>
  <form [formGroup]="opiniones">
  <ion-item>
  <ion-icon name="text-outline" slot="start"></ion-icon>
  <ion-input formControlName="titulo" placeholder="Título" type="text"></ion-input>
  </ion-item>
  <ion-label color="danger" *ngIf="opiniones.controls.titulo.errors?.required && (opiniones.touched || opiniones.dirty)">*Por favor ingrese el titulo</ion-label>
  <ion-label color="danger" *ngIf="opiniones.controls.titulo.errors?.minlength && (opiniones.touched || opiniones.dirty)">*El título tiene que tener al menos 3 caracteres.</ion-label>
  <br>
  <br>
  <br>
  <br>
  <ion-item>    
  <ion-icon name="clipboard-outline" slot="start"></ion-icon>
  <ion-textarea formControlName="opinion" placeholder="Escriba su opinión"></ion-textarea>
  </ion-item>
  <ion-label color="danger" *ngIf="opiniones.controls.opinion.errors?.required && (opiniones.touched || opiniones.dirty)">*Por favor ingrese la opinión</ion-label>
  <ion-label color="danger" *ngIf="opiniones.controls.opinion.errors?.minlength && (opiniones.touched || opiniones.dirty)">*La opinión tiene que tener al menos 3 caracteres.</ion-label>
  </form>
</ion-list>
</ion-col>
</ion-row>
</ion-grid>
 <ion-row>
<ion-col>
<ion-button type="submit" [disabled]="!opiniones.valid" expand="block">Enviar</ion-button>
</ion-col>
</ion-row>


</ion-content>

