<ion-header [translucent]="true" class="ion-no-border" >
<ion-toolbar>
<ion-title>
 Inicio
</ion-title>
<ion-buttons slot="start">
<ion-menu-button menu="main-menu"></ion-menu-button>
</ion-buttons>
</ion-toolbar>
<!-- buscador-->
<ion-searchbar placeholder="Buscar Empresa, Produto o Servicio" animated="true"></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
   <!-- <ion-list *ngFor= "let empresa of empresas">
     <ion-item>
        <ion-thumbnail slot="start">
           <ion-img src="../../assets/images/empresas/{{empresa.empresa_photo}}"></ion-img>
        </ion-thumbnail>
        <ion-label>
        <h2>{{empresa.empresa_title}}</h2>
        <h3>{{empresa.empresa_address}}</h3>
        <p>{{empresa.empresa_telephone}}</p>
         </ion-label>
      </ion-item>
    </ion-list> -->

      
      <ion-card *ngFor= "let empresa of empresas">
      <ion-avatar> <img src="../../assets/images/empresas/{{empresa.empresa_photo}}"></ion-avatar>
      <ion-card-header>
      <ion-card-title><h1>{{empresa.empresa_title}}</h1></ion-card-title>
      <ion-card-subtitle>Tipo: {{empresa.empresa_type}}</ion-card-subtitle>
      <ion-card-subtitle>Direccion: {{empresa.empresa_address}}</ion-card-subtitle>
      <ion-card-subtitle>Tel: {{empresa.empresa_telephone}}</ion-card-subtitle>
      </ion-card-header>
      <p class="ion-text-center"><ion-button shape="round" routerLink="">Comentar / Opinar</ion-button></p>
      </ion-card>
      

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>

