<ion-header [translucent]="true" class="ion-no-border" >
  <ion-toolbar>
  <ion-title>
   Perfil de empresa
  </ion-title>
  <ion-buttons slot="start">
  <ion-back-button defaultHref="home"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
  <!-- buscador-->
  <ion-searchbar placeholder="Buscar Empresa" animated="true"></ion-searchbar>
  </ion-header>

<ion-content [fullscreen]="true" class="ion-padding"  >


  <ion-card *ngFor= "let empresa of empresas">
    <ion-avatar> <img src="../../assets/images/empresas/{{empresa.empresa_photo}}"></ion-avatar>
    <ion-card-header>
    <ion-card-title><h1>{{empresa.empresa_title}}</h1></ion-card-title>
    <ion-card-subtitle><a>Tipo:</a>{{empresa.empresa_type}}</ion-card-subtitle>
    <ion-card-subtitle><a>Direccion:</a>{{empresa.empresa_address}}</ion-card-subtitle>
    <ion-card-subtitle><a>Tel:</a>{{empresa.empresa_telephone}}</ion-card-subtitle>
    <ion-card-subtitle><a>Sitio:</a>{{empresa.empresa_website}}</ion-card-subtitle>
    <ion-card-subtitle><a>Social:</a>{{empresa.empresa_instagram}}</ion-card-subtitle>
    </ion-card-header>
    </ion-card>


</ion-content>
